1		ICON		"images\\32logo.ico"
20000		BITMAP	"images\\arrow.bmp"
20001		BITMAP	"images\\larrow.bmp"
20002		BITMAP	"images\\pancursor.bmp"
20003		BITMAP	"images\\resize_topleft.bmp"
20004		BITMAP	"images\\resize_bottomleft.bmp"
20005		BITMAP	"images\\resize_ns.bmp"
20006	 	BITMAP	"images\\resize_ew.bmp"
20007		BITMAP	"images\\movecursor.bmp"


3000		CURSOR  "images\\larrow.cur"
3001		CURSOR	"images\\arrow.cur"
3002		CURSOR  "images\\pancursor.cur"
3003		CURSOR  "images\\movecursor.cur"
3004		CURSOR  "images\\resize_tl.cur"
3005		CURSOR  "images\\resize_bl.cur"
3006		CURSOR  "images\\resize_ns.cur"
3007		CURSOR  "images\\resize_ew.cur"
